In [12]:
import pandas as pd
import numpy as np

In [2]:
ages = {'Tanvir':35, 'Tania':28, 'Riva':5, 'Rima':1}
pd.Series(ages)

Tanvir    35
Tania     28
Riva       5
Rima       1
dtype: int64

In [3]:
# Imaginary sales data: 1st and 2nd Quarters of global sales
q1 = {'Japan': 78, 'India': 445, 'Bangladesh': 1234, 'USA': 542}
q2 = {'Nepal': 43, 'Koria': 342, 'India': 490, 'Bangladesh': 1098, 'USA': 342}

# Convert above dictionary to pandas series
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [6]:
sales_q1

Japan           78
India          445
Bangladesh    1234
USA            542
dtype: int64

In [7]:
sales_q2

Nepal           43
Koria          342
India          490
Bangladesh    1098
USA            342
dtype: int64

In [8]:
sales_q1['Japan']

78

In [10]:
sales_q2['USA']

342

In [11]:
sales_q2.keys()

Index(['Nepal', 'Koria', 'India', 'Bangladesh', 'USA'], dtype='object')

In [13]:
sales_q1 + sales_q2

Bangladesh    2332.0
India          935.0
Japan            NaN
Koria            NaN
Nepal            NaN
USA            884.0
dtype: float64

In [14]:
# to solve the above ptobel we will use the 'add' operation
sales_q1.add(sales_q2, fill_value=0)

Bangladesh    2332.0
India          935.0
Japan           78.0
Koria          342.0
Nepal           43.0
USA            884.0
dtype: float64